{% extends "aawiki/base.html" %}

{% load aacoretags aawikitags %}

{% block title %}{{ block.super }} | {{ page.name }}{% endblock %}

{% block extrahead %}
<script>
(function($) {
    $(document).ready(function() {
        $("#help").accordion({
            autoHeight: false,
            collapsible: true
        });

        // $("#tab-this").tabs();
        $("#accordion").accordion({ fillSpace: true });

        $('body').layout({
            applyDefaultStyles: false,
            enableCursorHotkey: false,
            west: {
                size: "220",
                fxName: "slide",
                fxSpeed: "fast",
                initClosed: false,
                enableCursorHotkey: false,
                slidable: false,
                closable: false,
                resizable: false,
                togglerAlign_closed : 'center',
                togglerAlign_open : 'center',
                togglerContent_open: '&larr;',
                togglerContent_closed: '&rarr;',
                spacing_closed: 16,
                spacing_open: 16,
                togglerLength_open: -1,
                togglerLength_closed: -1,
                showOverflowOnHover: false,
                onresize: function () {
                    $('#accordion').accordion('resize');
                }
            }
        });

        $('#accordion').accordion('resize');
    });
})(jQuery);
</script>
{% endblock %}


{% block body %}
<form method="post" enctype="multipart/form-data"
      action="">{% csrf_token %}
    {{ form }}
    <input type="submit" value="upload" />
</form>
{% endblock %}


{% block extrasidebar %}
        {% if page %}
            {% if user.is_authenticated %}
                <ul id="toolbar">
                    <li><a id="view" title="View the page" href="{{ page.get_absolute_url }}">View</a></li>
                    <li><a id="edit" title="Edit the full page" href="{{ page.get_edit_url }}">Edit</a></li>
                </ul>
            {% endif %}
        {% endif %}
        <header>
            <hgroup>
                <h1>Importing annotation</h1>
            </hgroup>
        </header>
{% endblock %}
