<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
    {% for ns in namespaces %}
    xmlns:{{ ns.name }}="{{ ns.url }}"
    {% endfor %}
    version="HTML+RDFa 1.1">

<head>
    {% block head %}
    <meta charset="utf-8" />

    <!--<meta http-equiv="pragma" content="no-cache" />-->
    <!--<meta http-equiv="cache-control" content="max-age=0" />-->
    <!--<meta http-equiv="cache-control" content="no-cache" />-->
    <!--<meta http-equiv="cache-control" content="no-store" />-->

    <title>{% block title %}active archives{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/jquery.layout.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/activearchives.css" type="text/css" />
    <link rel="aa-embed" href="{% url aa-embed %}" type="text/css" />

    {% block jquery %}
    <script src="{{ STATIC_URL }}lib/jquery-ui/js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}lib/jquery-ui/js/jquery-ui-1.8.17.custom.min.js"></script>    
    <script src="https://raw.github.com/vitch/jScrollPane/master/script/jquery.mousewheel.js"></script>    
    <script src="https://raw.github.com/vitch/jScrollPane/master/script/jquery.jscrollpane.min.js"></script>    

    <script src="{{ STATIC_URL }}lib/jquery.djangocsrf.js"></script>    
    <script src="{{ STATIC_URL }}lib/jquery.layout.js"></script>   
    <link rel="stylesheet" href="{% url aa-colors-css %}" media="screen" />
    {% endblock jquery %}

    {% block extrahead %}{% endblock %}
    <!--<script>-->
    <!--$(document).ready(function() {-->
        <!--$('#canvas').jScrollPane();-->
    <!--});-->
    <!--</script>-->

    {% endblock head %}
</head>

<body{% if not user.is_authenticated %} class="anonymous"{% endif %}>
    {% block prebody %}{% endblock %}

    <div id="center" class="ui-layout-center"> 
    {% block body %}{% endblock body %} 
    </div>

    {% block postbody %}{% endblock %}
    </body>
</html>
