{% extends "aawiki/base_wiki.html" %}


{% block body %}
<nav id="west-pane" > 
    <h1 class="logo">
        <a title="Back to main page" href="{% url aa-index %}">
            <span>O</span><span>r</span><span>a</span><span>l</span><span>S</span><span>i</span><span>t</span><span>e</span>
        </a>
    </h1>
    <h2>Log in Oral Site</h2>

    {% if form.errors %}
        <div class="section"> <!-- div Anonymous -->
            <p style='color: blue;'>Your username and password don't match. Please try again.</p>
        </div> <!-- end div Anonymous-->
    {% endif %}
    <div id="login">
        <form method="post" action="{% url django.contrib.auth.views.login %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
</nav>
{% endblock %}

