{% extends "aawiki/base.html" %}

{% load aacoretags aawikitags %}

{% block extrahead %}
<script>
(function($) {
    $(document).ready(function() {
        $('body').layout({
            applyDefaultStyles: false,
            enableCursorHotkey: false,
            west: {
                size: "250",
                fxName: "slide",
                fxSpeed: "fast",
                initClosed: false,
                enableCursorHotkey: false,
                slidable: false,
                closable: false,
                resizable: false,
                togglerAlign_closed : 'center',
                togglerAlign_open : 'center',
                togglerContent_open: '&larr;',
                togglerContent_closed: '&rarr;',
                spacing_closed: 16,
                spacing_open: 16,
                togglerLength_open: -1,
                togglerLength_closed: -1,
                showOverflowOnHover: false
            }
        });
    });
})(jQuery);
</script>
{% endblock %}


{% block body %}
<nav id="west-pane" > 
    {% if form.errors %}
        <div class="section"> <!-- div Anonymous -->
            <p style='color: blue;'>Your username and password don't match. Please try again.</p>
        </div> <!-- end div Anonymous-->
    {% endif %}
    <div id="login">
        <form method="post" action="{% url django.contrib.auth.views.login %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
</nav>
{% endblock %}

{% block extrasidebar %}
    <hgroup>
        <h1 property="dc:title">User log in</h1>
    </hgroup>
{% endblock %}
