{% extends "aawiki/base_wiki.html" %}

{% block body %}


<nav id="west-pane" > 
    <h1 class="logo">
        <a title="Back to main page" href="{% url aa-index %}">
            <span>O</span><span>r</span><span>a</span><span>l</span><span>S</span><span>i</span><span>t</span><span>e</span>
        </a>
    </h1>
    <div class="section"> <!-- div Anonymous -->
        <div id="banner" class="column100">
            <div class="content">
                <p>You are now logged out.</p>
                <p><a href="{% url aa-login %}">Log in again</a> or go back to <a href="{% url aa-index %}">main page</a>.</p>
            </div>
        </div>
    </div> <!-- end div Anonymous-->
</nav>

{% endblock body %}


