{% extends "aawiki/base.html" %}

{% load aawikitags humanize %}

{% block title %}{% get_markdown_for content as md meta %}{{ block.super }} | Browsing history of {{ slug }}{% endblock %}

{% block extrahead %}
<script src="{{ STATIC_URL }}aawiki/js/aa.sidebar.js"></script>
{% endblock %}


{% block body %}
<div id="page-history" class="ui-layout-center">
    <form action="{% url aawiki:page-diff slug %}" method="get" accept-charset="utf-8">
        <p><input type="submit" value="Compare selected revisions" id="submit" /></p>

        <dl id="commits">
            
            {% for commit in commits %}
            
                {% ifchanged commit.commit_time|fromtimestamp|date %}
                
                    {% if not forloop.first %}
                        </ul>
                    </dd>
                    {% endif %}
                    
                    <dt>{{ commit.commit_time|fromtimestamp|naturalday }}</dt>
                    <dd>
                        <ul>
                {% endifchanged %}

                            <li>
                                <input type="radio" name="c1" value="{{ commit.hex }}" />
                                <input type="radio" name="c2" value="{{ commit.hex }}" />
                                {{ commit.commit_time|fromtimestamp|date:'H:i' }} by {{ commit.author.name }} <a href="{% url aawiki:page-detail slug %}?hex={{ commit.hex }}">{{ commit.message }}</a>
                            </li>
                            
                {% if forloop.last %}
                        </ul>
                    </dd>
                {% endif %}
                
            {% endfor %}
            
        </dl>
        <p><input type="submit" value="Compare selected revisions" id="submit" /></p>
    </form>
</div>
{% endblock %}


{% block toolbar %}
{% if user.is_authenticated %}
<ul id="toolbar">
    <li><a id="view" title="View the page" href="{% url aawiki:page-detail slug %}">View</a></li>
    <li><a id="edit" title="Edit the full page" href="{% url aawiki:page-edit slug %}">Edit</a></li>
</ul>
{% endif %}
{% endblock %}


{% block hgroup %}
<hgroup>
    <p>Viewing history</p>
    {% if meta.title %}
        <h1>{{ meta.title|first }}</h1>
    {% else %}
        <h1>{{ slug }}</h1>
    {% endif %}
    {% if meta.subtitle %}
        <h2>{{ meta.subtitle|first }}</h2>
    {% endif %}
</hgroup>
{% endblock %}
