{% extends "aawiki/base.html" %}

{% load aawikitags humanize %}

{% block title %}{% get_markdown_for page.content as md meta %}{{ block.super }} | Browsing history of {{ page.name }}{% endblock %}

{% block extrahead %}
<script src="{{ STATIC_URL }}aawiki/js/aa.sidebar.js"></script>
{% endblock %}


{% block body %}
<div id="page-history" class="ui-layout-center">
    <form action='{{ page.get_diff_url }}' method="get" accept-charset="utf-8">
        <p><input type="submit" name="submit" value="Compare selected revisions" id="submit" /></p>

        <dl id="commits">
            
            {% for commit in page.iter_commits %}
            
                {% ifchanged commit.committed_date|epock2datetime|date:"F" %}
                
                    {% if not forloop.first %}
                        </ul>
                    </dd>
                    {% endif %}
                    
                    <!--<dt>{{ commit.committed_date|epock2datetime|date:"jS \o\f F" }}</dt>-->
                    <dt>{{ commit.committed_date|epock2datetime|naturalday }}</dt>
                    <dd>
                        <ul>
                {% endifchanged %}

                            <li>
                                <input type="radio" name="c1" value="{{ commit.hexsha }}" />
                                <input type="radio" name="c2" value="{{ commit.hexsha }}" />
                                {{ commit.committed_date|epock2datetime|date:'H:i' }} by {{ commit.author }} <a href="{{ page.get_absolute_url }}?rev={{ commit.hexsha }}">{{ commit.message }}</a>
                                <!--<dl class="commit">-->
                                    <!--<dt>Commit message</dt>-->
                                    <!--<dd class="commit-message"><a href="{{ page.get_absolute_url }}?rev={{ commit.hexsha }}">{{ commit.message }}</a></dd>-->
                                    <!--<dt>Author</dt>-->
                                    <!--<dd class="commit-author">by {{ commit.author }}</dd>-->
                                    <!--[><dt>Stats</dt><]-->
                                    <!--[> <dt>Technical Specifications</dt> <]-->
                                    <!--[> <dd class="commit-details"><a href='#'>view details</a></dd> <]-->
                                <!--</dl>-->
                            </li>
                            
                {% if forloop.last %}
                        </ul>
                    </dd>
                {% endif %}
                
            {% endfor %}
            
        </dl>
        <p><input type="submit" name="submit" value="Compare selected revisions" id="submit" /></p>
    </form>
</div>
{% endblock %}


{% block toolbar %}
{% if page %}
{% if user.is_authenticated %}
<ul id="toolbar">
    <li><a id="view" title="View the page" href="{{ page.get_absolute_url }}">View</a></li>
    <li><a id="edit" title="Edit the full page" href="{{ page.get_edit_url }}">Edit</a></li>
</ul>
{% endif %}
{% endif %}
{% endblock %}


{% block hgroup %}
<hgroup>
    <p>Viewing history</p>
    {% if meta.title %}
        <h1>{{ meta.title|first }}</h1>
    {% else %}
        <h1>{{ page.name }}</h1>
    {% endif %}
    {% if meta.subtitle %}
        <h2>{{ meta.subtitle|first }}</h2>
    {% endif %}
</hgroup>
{% endblock %}
