{% extends "aawiki/base.html" %}


{% load aawikitags %}


{% block extrahead %}
{#<link rel="alternate" type="application/json" href="{% url 'api_dispatch_list' resource_name='page' api_name='v1' %}"/>#}
<link rel="alternate" type="application/json" href="/api/v1/page/{{ slug }}"/>
<link rel="aa-embed" type="text/html" href="/embed/"/>
{% endblock %}


{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}lib/css/reset.css" media="screen"/>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.wiki.css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.rdfa.css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.annotations.css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.swatch.css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}lib/Font-Awesome-More/css/font-awesome.css" media="screen"/>

<link rel="stylesheet" href="{{ STATIC_URL }}lib/custom-scrollbar-plugin/jquery.mCustomScrollbar.css" media="screen"/>
{% endblock %}


{% block body %}
{% get_markdown_for content as md meta %}
<a href="#t=300,600">00:05:00 --> 00:06:00</a>
<a href="#t=600,">00:06:00 --></a>

<span class="swatch" title="Drag over a section to apply the style">
    <label for="font-size"><i class="icon-beaker"></i> font-size</label> 
    <select id="font-size">
      <option value="">reset</option>
      <option value="xx-small">xx-small</option>
      <option value="x-small">x-small</option>
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
      <option value="x-large">x-large</option>
      <option value="xx-large">xx-large</option>
      <option value="smaller">smaller</option>
      <option value="larger">larger</option>
    </select>
</span>

<div id="toc">
    <form>
        <input name="foo" value="your_value" id="foo" type="checkbox">
        <label for="foo"><i class="icon-eye-open"></i> name</label>
    </form>
    <style type="text/css" media="screen">
        input[type="checkbox"] { display: none }
        input[type="checkbox"] + label:before { content: "☆ " }
        input[type="checkbox"]:checked + label:before { content: "★ " }
    </style>

</div>


<div id="timelineslider"></div>


<form id="mode">
    <input type="radio" id="modecanvas" name="mode" value="canvas">
    <label for="modecanvas">canvas</label>
    <input type="radio" id="modecinematic" name="mode" value="cinematic">
    <label for="modecinematic">cinematic</label>
</form>
{{ md|render_aatags|safe }}
{% endblock %}


{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script src="{{ STATIC_URL }}aawiki/js/aa.embeds.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.ffind.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.wrapContent.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.getAttributes.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.aa.annotation.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.aa.swatch.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.aa.classSwitcher.js"></script>

<script src="{{ STATIC_URL }}aawiki/js/jquery.ui.autoscrollable.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/timecode.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.voidplayer_simple.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.aamediasync.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.timeline.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.closestAttr.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.datetimecode.js"></script>
<script src="{{ STATIC_URL }}lib/jquery.ba-bbq.min.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/timething.tmp.js"></script>

<!--<script src="{{ STATIC_URL }}aawiki/js/jquery.contextual-menu.js"></script>-->

<script src="{{ STATIC_URL }}lib/custom-scrollbar-plugin/jquery.mousewheel.min.js"></script>
<script src="{{ STATIC_URL }}lib/custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
<script>
$(function() {
    $(".section1").annotation();
    $(".swatch").swatch();
    $("#mode").classSwitcher({
        selector: "body",
        end: function () {
            console.log($("body").attr("class"));
        }
    });
    //$(".section1").mCustomScrollbar();
});
</script>
{% endblock %}
