{% extends "aawiki/base.html" %}

{% load aacoretags aawikitags %}

{% block title %}{% get_markdown_for content as md meta %}{{ block.super }} | Comparing {{ slug }} as edited by {{ c1.author.name }} at {{ c1.commit_time|fromtimestamp }} and as edited by {{ c2.author.name }} at {{ c2.commit_time|fromtimestamp }}{% endblock %}

{% block extrahead %}
<script src="{{ STATIC_URL }}aawiki/js/aa.sidebar.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}lib/toastr/toastr.css" type="text/css"/>
<script src="{{ STATIC_URL }}lib/toastr/toastr.js"></script>
<script>
$(function() {
    toastr.warning('<del>Text stroked hover</del> has been deleted, <ins>text in red</ins> has been added.');
    toastr.warning('This is an comparision of two revisions of this page, as edited by {{ c1.author.name }} at <a href="{% url aawiki:page-detail slug %}?rev={{ c1 }}">{{ c1.commit_time|fromtimestamp }}</a >and as edited by {{ c2.author.name }} at <a href="{% url aawiki:page-detail slug %}?rev={{ c2 }}">{{ c2.commit_time|fromtimestamp}}</a>');
});
</script>
{% endblock %}


{% block body %}
<div id="page-diff" class="ui-layout-center">
    <article>
    <pre>{{ content|safe }}</pre>
    </article>
</div>
{% endblock %}


{% block toolbar %}
{% if user.is_authenticated %}
<ul id="toolbar">
    <li><a id="view" title="View the page" href="{% url aawiki:page-detail slug %}">View</a></li>
    <li><a id="edit" title="Edit the full page" href="{% url aawiki:page-edit slug %}">Edit</a></li>
</ul>
{% endif %}
{% endblock %}


{% block hgroup %}
<hgroup>
    <p>Comparing revisions</p>
    {% if meta.title %}
        <h1>{{ meta.title|first }}</h1>
    {% else %}
        <h1>{{ slug }}</h1>
    {% endif %}
    {% if meta.subtitle %}
        <h2>{{ meta.subtitle|first }}</h2>
    {% endif %}
</hgroup>
{% endblock %}


{% block extrasidebar %}
<div>
<br />
<p class="warning">This is an comparision of two revisions of this page, as edited by {{ c1.author.name }} at <a href="{% url aawiki:page-detail slug %}?rev={{ c1 }}">{{ c1.commit_time|fromtimestamp }}</a >and as edited by {{ c2.author.name }} at <a href="{% url aawiki:page-detail slug %}?rev={{ c2 }}">{{ c2.commit_time|fromtimestamp}}</a>.</p>
<p><del>Text stroked hover</del> has been deleted, <ins>text in red</ins> has been added.</p>
</div>
{% endblock %}
