{% extends "aawiki/base_wiki.html" %}

{% load aacoretags aawikitags typogrify_tags %}

{% block title %}{{ block.super }} | {{ page.name }}{% endblock %}

{% block extrahead %}
<script src="{{ STATIC_URL }}lib/jquery.slideToggleMinHeight.min.js"></script>
<script src="{{ STATIC_URL }}lib/shortcut.js"></script>   

<script src="{{ STATIC_URL }}aawiki/js/jquery.sort_by_zindex.js"></script>   
<script src="{{ STATIC_URL }}aawiki/js/jquery.caret.js"></script>   
<script src="{{ STATIC_URL }}aawiki/js/jquery.aalayers.js"></script>   
<script src="{{ STATIC_URL }}aawiki/js/jquery.datetimecode.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.timeline.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.voidplayer.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/jquery.ui.autoscrollable.js"></script>

<script src="{{ STATIC_URL }}aawiki/js/jquery.ffind.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/aa.view.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/aa.browser.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/embed.js"></script>
<script src="{{ STATIC_URL }}lib/iscroll/src/iscroll.js"></script>
<script src="{{ STATIC_URL }}lib/jquery.getCSS.min.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.styles.play.css" media="screen"/>

{% get_markdown_for content as md meta %}
{% for css in meta.extra_css %}
<link rel="stylesheet" href="{{ css }}" media="screen"/>
{% endfor %}
{% endblock %}


{% block body %}
<nav id="timeline" class="ui-layout-north">
    <nav id="controls">
        <span id="playpause">play</span>
        <span id="time">00:00:00 / 00:12:35</span>
        <form id="mode">
            {% if meta.mode|first|lower == "play" %}
            <input type="radio" id="modeedit" name="mode" value="edit" /><label for="modeedit">canvas</label><input type="radio" id="modeplay" name="mode" value="play" checked="checked" /><label for="modeplay">cinematic</label>
            {% else %}
            <input type="radio" id="modeedit" name="mode" value="edit" checked="checked" /><label for="modeedit">canvas</label><input type="radio" id="modeplay" name="mode" value="play" /><label for="modeplay">cinematic</label>
            {% endif %}
        </form>
    </nav>
<div id="timelineslider"></div>
</nav>

<iframe id="browser-panel" class="ui-layout-south"></iframe>

{% get_markdown_for content as md meta %}
<article id="canvas" class="ui-layout-center
                            {% if meta.mode %}{{ meta.mode|first }}{% endif %}
                            {% if meta.type %}{{ meta.type|first }}{% endif %}">
    <div id="wrapper">
    {{ md|render_aatags|safe|typogrify }}
    </div>

    <nav id="zoom">
    <button id="zoomin">+</button>
    <div id="zoomslider"></div>
    <button id="zoomout">-</button>
    </nav>

</article>

{% endblock %}


{% block postbody %}
{% include "aawiki/partials/sidebar.html" %}
{% endblock %}
