{% extends "aawiki/base_wiki.html" %}

{% load aacoretags %}

{% block title %}{{ block.super }} | Editing {{ page.name }}{% endblock %}

{% block extrahead %}
<script>
(function($) {
    $(document).ready(function() {
        $("#help").accordion({
            autoHeight: false,
            collapsible: true
        });

        $("#tab-this").tabs();

        $('body').layout({
            applyDefaultStyles: false,
            enableCursorHotkey: false,
            west: {
                size: "250",
                fxName: "slide",
                fxSpeed: "fast",
                initClosed: false,
                enableCursorHotkey: false,
                slidable: false,
                closable: true,
                resizable: false,
                togglerAlign_closed : 'center',
                togglerAlign_open : 'center',
                togglerContent_open: '&larr;',
                togglerContent_closed: '&rarr;',
                spacing_closed: 16,
                spacing_open: 16,
                togglerLength_open: -1,
                togglerLength_closed: -1,
                showOverflowOnHover: false
            }
        });
    });
})(jQuery);
</script>
{% endblock %}


{% block body %}
<div id="page-edit" class="ui-layout-center">
{% if page %}
<h1>Editing {{ page.name }}</h1>
{% else %}
<h1>Creating {{ name }}</h1>
{% endif %}
<form id='edit-all' action="." method="post" accept-charset="utf-8">{% csrf_token %}
    {% if section %}<input type="hidden" name="section" value="{{ section }}" />{% endif %}
    {{ form.as_p }}
    <p><input type="submit" value="✔ Save" />{% if page %}<input name="cancel" type="submit" value="✘ Cancel" />{% endif %}</p>
</form>
</div>
{% endblock %}


{% block postbody %}
<nav id="sidebar" class="ui-layout-west"> 
    <div id="login">
        {% if user.is_authenticated %}
            <a title="Logout" href="{% url aa-logout %}">Logout</a>
        {% else %}
            <a title="Login" href="{% url aa-login %}">Login</a>
        {% endif %}
    </div>
    <div>
    <!--<h1 class="logo">-->
        <!--[><a title="Back to main page" href="{% url aa-index %}"><]-->
            <!--[><span>O</span><span>r</span><span>a</span><span>l</span><span>S</span><span>i</span><span>t</span><span>e</span><]-->
        <!--[></a><]-->
        <!--<a title="Back to main page" href="{% url aa-index %}">-->
            <!--Oralsite-->
        <!--</a>-->
    <!--</h1>-->
    <!--<p><a title="About Oral Site" href="{% url aa-page-detail 'Oral_Site' %}">About</a></p>-->
    <!--<hr>-->
        {% if page %}
            {% if user.is_authenticated %}
                <ul id="toolbar">
                    <li><a id="view" title="View the page" href="{{ page.get_absolute_url }}">View</a></li>
                    <li><a id="history" title="Browse this page history" href="{{ page.get_history_url }}">History</a></li>
                </ul>
            {% endif %}
        {% endif %}

        <header>
            <hgroup>
                {% if meta.title %}
                    <h1>{{ meta.title|first }}</h1>
                {% else %}
                    <h1>{{ page.name }}</h1>
                {% endif %}
                {% if meta.subtitle %}
                    <h2>{{ meta.subtitle|first }}</h2>
                {% endif %}
            </hgroup>

            {% if meta.ispartof %}
            <p>This page is part of the publication{{ meta.ispartof|pluralize }} {{ meta.ispartof|join:"," }}.</p>
            {% endif %}
        </header>
    </div>

    <div id="tab-this">
        <ul id="aa-tabs">
            <li><a title="Help" href="#tab-help">Help</a></li>
        </ul>

        <div id="tab-help" class="aa-tab">
            <div id="help">
            {% include "aawiki/partials/playmode_classes_help.html" %}
            {% include "aawiki/partials/metadata_help.html" %}
            {% include "aawiki/partials/filters_help.html" %}
            {% include "aawiki/partials/markdown_help.html" %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}
