{% extends "aawiki/base.html" %}

{% load aacoretags aawikitags %}



{#{% block title %}{% get_markdown_for content as md meta %}{{ block.super }} | Editing {{ page.name }}{% endblock %}#}

{% block extrascript %}
<script src="{{ STATIC_URL }}aawiki/js/aa.sidebar.js"></script>
{% endblock %}


{% block body %}
<div id="page-edit" class="ui-layout-center">
<form id='edit-all' action="." method="post" accept-charset="utf-8">{% csrf_token %}
    {% if section %}<input type="hidden" name="section" value="{{ section }}" />{% endif %}
    {{ form.as_p }}
    <p><input type="submit" value="✔ Save" />{# if page #}<input name="cancel" type="submit" value="✘ Cancel" />{# endif #}</p>
</form>
</div>
{% endblock %}


{% block toolbar %}
{% if user.is_authenticated %}
<ul id="toolbar">
    <li><a id="view" title="View the page" href="{% url aawiki:page-detail slug %}">View</a></li>
    <li><a id="history" title="Browse this page history" href="{% url aawiki:page-history slug %}">History</a></li>
</ul>
{% endif %}
{% endblock %}


{% block hgroup %}
<hgroup>
    <p>editing</p>
{% if meta.title %}
    <h1 property="dc:title">{{ meta.title|first }}</h1>
{% else %}
    <h1 property="dc:title">{{ slug }}</h1>
{% endif %}

{% if meta.subtitle %}
    <h2>{{ meta.subtitle|first }}</h2>
{% endif %}
</hgroup>
{% endblock %}


{% block tabs %}
{% include "aawiki/partials/tab-about.html" %}
{% include "aawiki/partials/tab-help.html" %}
{% include "aawiki/partials/tab-upload.html" %}
{% endblock %}
