<h2>Filters</h2>

<div>
<p>Embed audio</p>
<pre><code>[[ embed::URL_OF_MEDIA
||embed:html5audio ]]</code></pre>

<p>Embed video</p>
<pre><code>[[ embed::URL_OF_MEDIA
||embed:html5video ]]</code></pre>

<p>Embed image</p>
<pre><code>[[ embed::URL_OF_MEDIA
||embed:img ]]</code></pre>

<p>Black and white image</p>
<pre><code>[[ embed::URL_OF_MEDIA
||bw
|embed:img ]]</code></pre>

<p>Resize image</p>
<!--<pre><code>[[ embed::URL_OF_MEDIA||resize:_WIDTH-IN-PIXELS_|embed:img]]</code></pre>-->
<pre><code>[[ embed::URL_OF_MEDIA
||resize:300px
|embed:img ]]</code></pre>

<p>Crop image</p>
<!--<pre><code>[[ embed::URL_OF_MEDIA||crop:_WIDTH_x_HEIGHT_+_X_+_Y_|embed:img]]</code></pre>-->
<pre><code>[[ embed::URL_OF_MEDIA
||crop:400x300+0+0
|embed:img ]]</code></pre>

<p>Zoomable image (<mark>do not add "embed:img" at the end !</mark>)</p>
<!--<pre><code>[[ embed::URL_OF_MEDIA||zoomable:_DISPLAY-SIZE_]]</code></pre>-->
<pre><code>[[ embed::URL_OF_MEDIA
||zoomable:300px ]]</code></pre>

<p>Lightbox (open image in fullscreen) (<mark>do not add "embed:img" at the end</mark>)</p>
<!--<pre><code>[[ embed::URL_OF_MEDIA||lightbox:_THUMBNAIL-SIZE_]]</code></pre>-->
<pre><code>[[ embed::URL_OF_MEDIA
||lightbox:300px ]]</code></pre>
</div>
