<p>
1. Choose your style.<br>
2. Drag and drop on the element you want to style.<br><br>
</p>

<span class="swatch" title="Drag over a section to apply the style">
    <label for="font-size">font-size</label> 
    <select id="font-size">
      <option value="">reset</option>
      <option value="xx-small">xx-small</option>
      <option value="x-small">x-small</option>
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
      <option value="x-large">x-large</option>
      <option value="xx-large">xx-large</option>
      <option value="smaller">smaller</option>
      <option value="larger">larger</option>
    </select>
</span>
<span class="swatch">
    <label for="font-style">font-style</label> 
    <select id="font-style">
      <option value="">reset</option>
      <option value="normal">normal</option>
      <option value="italic">italic</option>
    </select>
</span>
<span class="swatch">
<label for="font-weight">font-weight</label> 
    <select id="font-weight">
      <option value="">reset</option>
      <option value="normal">normal</option>
      <option value="bold">bold</option>
    </select>
</span>
<span class="swatch">
    <label for="font-family">font-family</label> 
    <select id="font-family">
      <option value="">reset</option>
      <option value="TeX Gyre Termes">TeX Gyre Termes</option>
      <option value="LiberationSans">Liberation Sans</option>
      <option value="LatinModernMono">Latin Modern Mono</option>
      <option value="serif">serif</option>
      <option value="sans">sans</option>
      <option value="mono">mono</option>
    </select>
</span>
<span class="swatch">
    <label for="text-align">text-align</label> 
    <select id="text-align">
      <option value="">reset</option>
      <option value="left">left</option>
      <option value="center">center</option>
      <option value="right">right</option>
      <option value="justify">justify</option>
    </select>
</span>
<span class="swatch">
    <label for="color">color</label> 
    <select id="color">
      <option value="">reset</option>
      <option value="black">black</option>
      <option value="grey">grey</option>
      <option value="beige">lightgrey</option>
      <option value="white">white</option>
      <option value="#FF9">light yellow</option>
      <option value="yellow">yellow</option>
      <option value="blue">blue</option>
      <option value="red">red</option>
    </select>
</span>
<span class="swatch">
    <label for="background-color">background-color</label> 
    <select id="background-color">
      <option value="">reset</option>
      <option value="black">black</option>
      <option value="grey">grey</option>
      <option value="beige">lightgrey</option>
      <option value="white">white</option>
      <option value="#FF9">light yellow</option>
      <option value="yellow">yellow</option>
      <option value="blue">blue</option>
      <option value="red">red</option>
    </select>
</span>
<span class="swatch">
    <label for="width">width</label> 
    <select id="width">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="25%">25%</option>
      <option value="33%">33%</option>
      <option value="45%">45%</option>
      <option value="50%">50%</option>
      <option value="200px">200px</option>
      <option value="300px">300px</option>
      <option value="400px">400px</option>
      <option value="500px">500px</option>
      <option value="600px">600px</option>
      <option value="700px">700px</option>
    </select>
</span>
<span class="swatch">
    <label for="height">height</label> 
    <select id="height">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="50%">50%</option>
      <option value="200px">200px</option>
      <option value="300px">300px</option>
      <option value="400px">400px</option>
      <option value="500px">500px</option>
      <option value="600px">600px</option>
      <option value="700px">700px</option>
    </select>
</span>
<span class="swatch">
    <label for="top">top</label> 
    <select id="top">
      <option value="">reset</option>
      <option value="0">0</option>
      <option value="50px">50px</option>
      <option value="50%">50%</option>
    </select>
</span>
<span class="swatch">
    <label for="left">left</label> 
    <select id="left">
      <option value="">reset</option>
      <option value="0">0</option>
      <option value="50px">50px</option>
      <option value="50%">50%</option>
    </select>
</span>
<span class="swatch">
    <label for="margin-top">margin-top</label> 
    <select id="margin-top">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="0">0</option>
      <option value="1em">1em</option>
      <option value="1.5em">1.5em</option>
      <option value="2em">2em</option>
    </select>
</span>
<span class="swatch">
    <label for="margin-right">margin-right</label> 
    <select id="margin-right">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="0">0</option>
      <option value="1em">1em</option>
      <option value="1.5em">1.5em</option>
      <option value="2em">2em</option>
    </select>
</span>
<span class="swatch">
    <label for="margin-bottom">margin-bottom</label> 
    <select id="margin-bottom">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="0">0</option>
      <option value="1em">1em</option>
      <option value="1.5em">1.5em</option>
      <option value="2em">2em</option>
    </select>
</span>
<span class="swatch">
    <label for="margin-left">margin-left</label> 
    <select id="margin-left">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="0">0</option>
      <option value="1em">1em</option>
      <option value="1.5em">1.5em</option>
      <option value="2em">2em</option>
    </select>
</span>
<span class="swatch">
    <label for="padding-top">padding-top</label> 
    <select id="padding-top">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="0">0</option>
      <option value="1em">1em</option>
      <option value="1.5em">1.5em</option>
      <option value="2em">2em</option>
      <option value="10%">10%</option>
      <option value="25%">25%</option>
    </select>
</span>
<span class="swatch">
    <label for="padding-right">padding-right</label> 
    <select id="padding-right">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="0">0</option>
      <option value="1em">1em</option>
      <option value="1.5em">1.5em</option>
      <option value="2em">2em</option>
      <option value="10%">10%</option>
      <option value="25%">25%</option>
    </select>
</span>
<span class="swatch">
    <label for="padding-bottom">padding-bottom</label> 
    <select id="padding-bottom">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="0">0</option>
      <option value="1em">1em</option>
      <option value="1.5em">1.5em</option>
      <option value="2em">2em</option>
      <option value="10%">10%</option>
      <option value="25%">25%</option>
    </select>
</span>
<span class="swatch">
    <label for="padding-left">padding-left</label> 
    <select id="padding-left">
      <option value="">reset</option>
      <option value="auto">auto</option>
      <option value="0">0</option>
      <option value="1em">1em</option>
      <option value="1.5em">1.5em</option>
      <option value="2em">2em</option>
      <option value="10%">10%</option>
      <option value="25%">25%</option>
    </select>
</span>
